<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>临时页面</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
</head>
<body>
    <h1>这是首页，一个临时页面</h1>
    <p>如你所见这个页面什么都没有，也许过一阵子就有东西了？</p>
    <h2>你可能想要访问：</h2>
    <table>
        <tr>
            <td><a href="/webLessonFinalExam/index.html">Web Lesson Fianl Exam</a></td>
        </tr>
    </table>
</body>
</html>