<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/posts.css">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <!-- <link href="//zhoushouhao.com/img/p0" rel="dns-prefetch" /> -->
</head>

<body>
    <header id="header">
        <div class="logo">
            <a href="http://zhoushouhao.com/img/p0.jpg">Shouhao's Notes</a>
        </div>
    </header>
    <div class="main-area">
        <div class="main-vision">
            <img src="img/p0.jpg" alt="主视觉图" id="mainVision">
        </div>
        <div class="main-content">
            <div class="mdstyle main-md">
                <h1>PersonalWebsite</h1>
                <h2>2</h2>
                <h3>3</h3>
                <h4>4</h4>
                <h5>5</h5>
                <h6>6</h6>
                <h1>一级标题</h1>
                <h2>二级标题</h2>
                <blockquote>
                    <p>区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用区块引用</p>
                    <blockquote>
                        <p>嵌套引用</p>
                    </blockquote>
                </blockquote>
                <pre><code>void main()
            {
                printf(&quot;Use tab or 4 spacesaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa&quot;);
            }
            </code></pre>
                <pre><code>void main()
            {
                printf(&quot;use```&quot;);
            }
            </code></pre>
                <p><em>斜体</em>，<em>斜体</em><br>
                    <strong>粗体</strong>，<strong>粗体</strong></p>
                <ul>
                    <li>(-) 第一项</li>
                    <li>(-) 第二项</li>
                    <li>(-) 第三项</li>
                </ul>
                <hr>
                <ul>
                    <li>(*) 第一项</li>
                    <li>(*) 第二项</li>
                    <li>(*) 第三项</li>
                </ul>
                <hr>
                <ul>
                    <li>(+) 第一项</li>
                    <li>(+) 第二项</li>
                    <li>(+) 第三项</li>
                </ul>
                <hr>
                <ol>
                    <li>第一项</li>
                    <li>第二项</li>
                    <li>第三项</li>
                </ol>
                <p><a href="https://github.com/younghz/Markdown" title="Markdown">younghz的Markdown库</a>。</p>
                <p><a href="https://github.com/younghz/Markdown" title="Markdown">younghz的Markdown库1</a>
                    <a href="https://github.com/younghz/Markdown" title="Markdown">younghz的Markdown库2</a></p>
                <p>添加图片的形式和链接相似，只需在链接的基础上前方加一个!。
                    <img src="img/favicon.png" alt="logo" title="logo">
                    <code>ctrl+a</code></p>
                <table>
                    <thead>
                        <tr>
                            <th style="text-align:center">代码库</th>
                            <th>链接</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">MarkDown</td>
                            <td><a href="https://github.com/younghz/Markdown"
                                    title="Markdown">https://github.com/younghz/Markdown</a></td>
                        </tr>
                        <tr>
                            <td style="text-align:center">MarkDownCopy</td>
                            <td><a href="https://github.com/younghz/Markdown"
                                    title="Markdown">https://github.com/younghz/Markdown</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdstyle md-catalog">
                <h3>目录</h3>
                <p>施工中...</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="signature">
            © Zhou Shouhao
        </div>
    </footer>
</body>

</html>