.main-vision {
    width: 100%;
    height: 200px;
    /* background: url(../img/p0.jpg) center 0 no-repeat;
        background-size:100%; */
    min-width: 1200px;
}

.main-vision img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.main-content {
    min-width: 1200px;
    max-width: 1400px;
    padding: 50px 50px 50px 50px;
    margin: auto;
}

.main-md{
    width: 78%;
    display: inline-block;
    vertical-align: top;
    min-height: 600px;
}

.md-catalog{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding: 0 0 0 10px;
}