<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shouhao's Notes</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/contentInit.css">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- <link href="//zhoushouhao.com/img/p0" rel="dns-prefetch" /> -->
</head>
<header th:replace="common/common :: headerLong(${authority})"></header>
<div th:replace="common/common :: mainVisionShort"></div>
<div class="main-area">
    <form action="/content/create" class="new-content-form" method="post">
        <div class="form-row">
            <div class="form-attribute">文章标题</div>
            <input type="text" name="contentHeading" required>
            <div class="input-tips">文章标题最多256个VARCHAR字符</div>
        </div>
        <div class="form-row init-button-row">
            <input class="create-draft init-button" type="submit" value="创建草稿">
        </div>
    </form>

</div>

<footer th:replace="common/common :: footer(${authority})"></footer>
<body>

</body>
</html>