<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shouhao's Notes</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- <link href="//zhoushouhao.com/img/p0" rel="dns-prefetch" /> -->
</head>



<body>
    <header th:replace="common/common :: headerLong(${authority})"></header>

    <div th:replace="common/common::mainVision"></div>

    <div class="main-area">
        <div class="main-panel">
            <div class="catalog">
                <div class="catalog-bar">
                    <div class="catalog-post">
                        Posts
                    </div>
                    <a href="allposts">
                        <div class="all-post">
                            All Posts
                        </div>
                    </a>
                </div>
                <div class="catalog-main" id="catalog">
                    <div th:each="item,index:${notes}" class="catalog-item"
                         th:if="${item.getStatus()==0 && item.getRestrict()}">
                        <a th:href="'/content/note/'+${item.getId()}">
                            <div class="post-name"
                                th:title="${item.getHeading()}" th:text="${item.getHeading()}">
                            </div>
                        </a>
                        <div class="post-info">
                            <div class="tag">
                                tag.
                            </div>
                            <div class="time-info">
                                <div class="time-post-info" th:text="'Posted on:'+${item.getPublishTime()}">
                                </div>
                                <div class="time-edited-info" th:text="'Posted on:'+${item.getPublishTime()}">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="catalog-footer">

                    <div class="all-post">
                        <a href="allposts">
                            All Posts
                        </a>
                    </div>

                </div>
                <!-- ! -->
            </div>
            <div class="about-author">
                <div class="author-bio">
                    <div class="bio-title">
                        About author
                    </div>
                    <div class="bio-contents">
                        <div class="img-box">
                            <img src="/img/Avatar.jpg" alt="Avatar">
                        </div>
                        <div class="bio-name">
                            Zhou Shouhao
                        </div>
                        <div class="bio">
                            A college student.
                        </div>
                    </div>
                </div>
                <div class="might-access">
                    <div class="might-access-title">
                        You might want to visit
                    </div>
                    <div class="might-access-content" id="mightAccess">
                        <div class="might-access-item">
                            <a href="iFruitCloudMusic/index.html">iFruitCloudMusic</a>
                        </div>
                        <div class="might-access-item">
                            Nothing More.
                        </div>

                    </div>
                </div>
                <div class="my-github-box">
                    <a href="https://github.com/AlexCZhou" title="This is my GitHub Account">
                        <div class="my-github right-side-box">
                            GitHub
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <footer th:replace="common/common :: footer(${authority})"></footer>
</body>

</html>