<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shouhao's Notes</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- <link href="//zhoushouhao.com/img/p0" rel="dns-prefetch" /> -->
</head>
<header th:replace="common/common :: headerShort"></header>
<div th:replace="common/common::mainVisionShort"></div>
<div class="main-area">
    <div class="login-container">
        <h2>登录</h2>
        <form class="general-form login-form" action="/loginCheck" method="post">
            <div class="form-row">
                <div class="form-attribute">用户名</div>
                <input class="general-text-input" name="username" type="text">
            </div>
            <div class="form-row">
                <div class="form-attribute">密码</div>
                <input class="general-text-input" name="password" type="password">
            </div>
            <div class="button-row-button">
                <input class="login-button" type="submit" value="登录">
            </div>
        </form>
    </div>
</div>
<footer th:replace="common/common :: footer(${authority})"></footer>
<body>

</body>
</html>