<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shouhao's Notes</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
</head>

<body>

<header th:replace="common/common :: headerShort"></header>
<div th:replace="common/common :: mainVisionShort"></div>

<div class="main-area">
    <div class="container">

        <div class="left-col">
            <div class="manage-nav-bar">
                <div class="manage-tab">
                    <a href="">
                        <div class="manage-nav-bar-item manage-nav-bar-item-selected">
                            Overview
                        </div>
                    </a>
                    <a href="?tab=posts" onclick="JavaScript:alert('该功能未上线')">
                        <div class="manage-nav-bar-item">
                            Posts
                        </div>
                    </a>
                </div>

                <a href="/content/new">
                    <div class="new-content-button">创作</div>
                </a>
            </div>

            <div class="recent-posts">
                <div class="recent-posts-heading">
                    最近的文章
                </div>
                <div th:each="note:${notes}" class="recent-posts-item">
                    <a th:href="'/content/note/'+${note.getId()}">
                        <div class="posts-name" th:text="${note.getHeading()}"></div>
                    </a>

                    <div class="posts-tags">
                        tags: 标签功能暂未上线.
                    </div>
                    <div class="latest-update" th:text="${note.getLatestUpdate()}">
                    </div>
                </div>
            </div>
        </div>

        <div class="right-col">
            <div class="user-info">
                <div class="user-avatar">
                    <img src="/img/Avatar.jpg">
                </div>
                <div class="user-nickname" th:text="${userInfo.getNickname()}">USER_NICKNAME</div>
                <div class="user-id" th:text="${userInfo.getId()}">USER_ID</div>
                <div class="user-authority super-admin" th:if="${userInfo.getAuthority()==3}">超级管理员</div>
                <div class="user-authority" th:if="${userInfo.getAuthority()==2}">管理员</div>
                <div class="user-bio" th:text="${userInfo.getBio()}">USER_BIO. MAXIMUM 256 VARCHAR. TEST 正文</div>
                <button class="form-row-button" onclick="JavaScript:alert('编辑功能暂未上线');">EDIT</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="common/common :: footer(${authority})"></footer>

</body>
</html>